.text_center{
  text-align: center !important;
}
.hidden{
  display: none !important;
  visibility: hidden;
  opacity: 0;
}
.title_promotions_carrosel{
  text-align: center;
  margin-bottom: 30px;

  p{
    color: var(--color-layout-5);
    font-size: 1.5625rem;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.button__bar_promotions {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  background: transparent;
  border-radius: 40px;
  text-align: center;
  position: absolute;
  left: 46.5%;
  bottom: 50px;
}

.button__bar_promotions li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 17px;
  padding: 0;

  &:first-of-type{
    margin-left: 0px;
  }
}

.button__bar_promotions li button {
  border: none;
  background: var(--color-layout-1);
  color: transparent;
  cursor: pointer;
  display: block;
  height: 11px;
  width: 11px;
  border-radius: 7.5px;
}

.button__bar_promotions :global(li.slick-active) button {
  background-color: var(--color-layout-5);
}

.button__bar_promotions li button:hover,
.button__bar_promotions li button:focus {
  background: var(--color-layout-5);
  outline: 0;
}

.promotions_carrosel_item{
  max-width: 310px;
  max-height: 471px;

  margin-bottom: 30px;

  cursor: pointer;

  .promotions_carrosel_item_image{
    .spy_button_content{
      position: relative;
      display: flex;
      justify-content: center;
      top: 250px;

      transition: all .4s ease-in-out;

      opacity: 0;
      visibility: hidden;

      .spy_button{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
  
        width: 83px;
        height: 28px;
  
        margin: 0 auto;
        text-align: center;
        border-radius: 30px;
  
        background-color: var(--color-layout-4);
  
        p{
          font-size: 0.75rem;
          color: var(--color-layout-7);
        }
      }
    }

    .slider_image{
      height: 310px;
    }

    .status_buttons_content{
      position: relative;

      .buttons_card{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 23px;
        
        margin-bottom: 5px;

        gap: 10px;

        .best_seller_button{
          display: flex;
          align-items: center;
          justify-content: center;

          max-width: 108px;
          height: 20px;
          width: 100%;

          border-radius: 20px;
          background-color: var(--color-layout-3);

          p{
            font-size: 0.75rem;
            font-weight: 600;
            color: var(--color-layout-1);
            text-transform: capitalize;
          }
        }

        .free_shipping_button{
          display: flex;
          align-items: center;
          justify-content: center;

          max-width: 96px;
          height: 20px;
          width: 100%;

          border-radius: 20px;
          background-color: var(--color-layout-11);

          p{
            font-size: 0.75rem;
            font-weight: 600;
            color: var(--color-layout-1);
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .promotions_carrosel_item_descriptions{
    text-align: center;

    .promotions_carrosel_item_name{
      font-size: 0.875rem;
      font-weight: 600;
      color: var(--color-layout-5);
    }

    .promotions_carrosel_item_price_detail{
      margin-bottom: 16px;
      
      .promotions_carrosel_item_price_1{
        color: var(--color-layout-7);
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: capitalize;
      }

      .promotions_carrosel_item_price_2{
        color: var(--color-layout-3);
        font-size: 1.125rem;
        font-weight: bold;
        text-transform: capitalize;
      }

      .promotions_carrosel_item_parcels{
        color: var(--color-layout-5);
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: capitalize;
      }
    }

    .add_to_cart_content{
      position: relative;
      top: -90px;

      opacity: 0;
      visibility: hidden;

      transition: all .4s ease-in-out;

      .add_to_cart_button{
        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 193px;
        height: 44px;
        margin: 0 auto;
        
        background-color: var(--color-layout-3);
        border-radius: 35px;

        font-size:  0.75rem;
        font-weight: bold;
        color: var(--color-layout-1);

        p{
          margin-left: 5px;
        }
      }
    }
  }

  &:hover{
    .add_to_cart_content{
      top: 0;
      visibility: visible;
      opacity: 1;
    }

    .promotions_carrosel_item_image{
      .spy_button_content{
        top: 155px;
        visibility: visible;
        opacity: 1;
      }
    }
  }

}

@media (max-width: 1080px) {
  .button__bar_promotions{
    left: 45.5%;
    bottom: 15px;
  }

  .arrowsSlide{
    display: none !important;
  }
}

@media (max-width: 720px) {
  .button__bar_promotions{
    left: 35.5%;
    bottom: 10px;
  }
}